on late-fs
    # CPU hotplug
    chown system system /sys/power/cpuhotplug/enable
    chmod 0660 /sys/power/cpuhotplug/enable
    chown system system /sys/power/cpuhotplug/min_online_cpu
    chmod 0664 /sys/power/cpuhotplug/min_online_cpu
    chown system system /sys/power/cpuhotplug/max_online_cpu
    chmod 0664 /sys/power/cpuhotplug/max_online_cpu

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy

    # Disable Samsung Hotplug
    write /sys/power/cpuhotplug/enable 0

    # FS Tune
    chmod 644 /sys/block/mmcblk0/queue/read_ahead_kb
    chmod 644 /sys/block/mmcblk1/queue/read_ahead_kb
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "19000 1274000:39000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 50
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 858000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 80000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "75 1170000:85"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000

    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1274000:39000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 50
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 858000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 80000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "75 1170000:85"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "19000 1274000:39000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 858000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "75 1170000:85"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000

    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1274000:39000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 858000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "75 1170000:85"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000

    # FS Tune
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024

    # Re-Enable Samsung Hotplug
    write /sys/power/cpuhotplug/enable 1
