on property:ro.bootmode=charger
   mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/SYSTEM /system wait ro

on property:ro.bootmode=charger
    wait /dev/block/platform/13540000.dwmmc0/by-name/EFS
    mount ext4 /dev/block/platform/13540000.dwmmc0/by-name/EFS /efs nosuid nodev noatime noauto_da_alloc,discard,journal_async_commit

on property:sys.mobicoredaemon.enable=true
    write /proc/iccc_ready 1

on property:ro.multisim.simslotcount=1
    setprop persist.radio.multisim.config ss

on property:ro.multisim.simslotcount=2
    setprop persist.radio.multisim.config dsds

on charger
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
    chmod 0664 /sys/class/power_supply/battery/batt_capacity_max
    chown system radio /sys/class/power_supply/battery/batt_capacity_max
    chmod 0664 /sys/class/power_supply/battery/battery_cycle
    chown system radio /sys/class/power_supply/battery/battery_cycle
    chown system radio /sys/class/power_supply/battery/cisd_fullcaprep_max
    chmod 0660 /sys/class/power_supply/battery/cisd_fullcaprep_max
    chown system radio /sys/class/power_supply/battery/cisd_data
    chmod 0660 /sys/class/power_supply/battery/cisd_data
    chown system system /efs/FactoryApp/cisd_fullcaprep_max
    chmod 0640 /efs/FactoryApp/cisd_fullcaprep_max
    chown system radio /sys/class/power_supply/battery/cisd_data_efs_path
    chmod 0660 /sys/class/power_supply/battery/cisd_data_efs_path
    chown system system /efs/FactoryApp/cisd_data
    chmod 0640 /efs/FactoryApp/cisd_data
    chown radio system /efs
    chmod 0771 /efs
    mkdir /efs/Battery 0775 radio system
    chown radio system /efs/Battery
    chmod 0775 /efs/Battery
    chown radio system /efs/Battery/batt_capacity_max
    chmod 0664 /efs/Battery/batt_capacity_max
    copy /system/vendor/firmware/battery_data.dat /efs/Battery/battery_data.dat
    chmod 0400 /efs/Battery/battery_data.dat
    write /sys/class/power_supply/battery/batt_update_data "/efs/Battery/battery_data.dat"
    class_start charger

on nonencrypted
    mkdir /data/misc/mcRegistry 0775 system system

on property:vold.decrypt=trigger_restart_framework
    mkdir /data/misc/mcRegistry 0775 system system

service prepare_param /system/bin/prepare_param.sh /dev/block/platform/13540000.dwmmc0/by-name/PARAM
    class core
    user root
    group root
#    seclabel u:r:prepare_param:s0
    oneshot

service gpsd /system/bin/gpsd
    class main
    user gps
    group system inet wakelock
    ioprio be 0

service charger /charger
    class charger
    seclabel u:r:healthd:s0

service mobicore /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin -r /system/app/mcRegistry/ffffffffd00000000000000000000016.tlbin -r /system/app/mcRegistry/ffffffffd0000000000000000000001c.tlbin
    class core
    user system
    group system
    disabled

service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group media_rw audio camera drmrpc inet shell sdcard_r system
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks
