cmd_flags
include/config/
include/generated/
patch
rf-tools/AIK-Linux/image-new.img
rf-tools/AIK-Linux/ramdisk-new.cpio.gz
rf-tools/AIK-Linux/ramdisk/
rf-tools/AIK-Linux/split_img/
scripts/basic/fixdep
scripts/dtbTool/
scripts/genksyms/genksyms
scripts/genksyms/keywords.hash.c
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
.config
.version
Module.symvers
arch/arm64/include/generated/
boot.img-dtb
